In [33]:
#cleaning up whatever happened in loading data 
#feed in the data 
from sktime.utils.load_data import from_long_to_nested
import pandas as pd 
import numpy as np 

def reformatData(target, file_name):
    #extracting the data from the csv as a dataframe and reformatting it 
    raw_df= pd.read_csv(file_name)

    long_table_df= raw_df.melt(id_vars=["event", "name","start time", "end time","channel"], 
            var_name="anindex", 
            value_name="value")

    sorted_long_table_df=long_table_df.sort_values(by=['event','name','start time','channel'], axis=0)

    unique_dim_ids = sorted_long_table_df.iloc[:, 4].unique()

    for i in range(len(unique_dim_ids)):
        my_channel=unique_dim_ids[i]
        sorted_long_table_df['channel']=sorted_long_table_df['channel'].replace({my_channel:i})
    # 2 is the index of the start time 
    unique_start_time = sorted_long_table_df.iloc[:, 2].unique()

    for i in range(len(unique_start_time)):
        my_time=unique_start_time[i]
        sorted_long_table_df['start time']=sorted_long_table_df['start time'].replace({my_time:i})

    
    sorted_long_table_df_stripped=sorted_long_table_df.drop(columns=['event','name','end time'])

    sorted_long_table_df_stripped.head()
    df_nested = from_long_to_nested(sorted_long_table_df_stripped)


    target='event'
    new_unique_start_time=sorted_long_table_df.iloc[:, 2].unique()
    labels=[]
    for e in new_unique_start_time:
        x=sorted_long_table_df.loc[sorted_long_table_df['start time']==e,[target]].iloc[0][0]
        labels.append(x)

    np_labels= np.asarray(labels, dtype=np.str)
    
    return df_nested, np_labels

In [34]:
target='event'
file_name="../scripts/data/2013e.csv"
unique_dimension_per_case='starting time'
X, y=reformatData(target,file_name)

In [35]:
type(X)

pandas.core.frame.DataFrame

In [36]:
X.head()

,dim_0,dim_1,dim_2,dim_3,dim_4,dim_5,dim_6,dim_7,dim_8,dim_9,dim_10,dim_11,dim_12,dim_13,dim_14,dim_15
0,1 17061.4316 2 17151.1680 3 169...,1 237.3560 2 239.0465 3 235.960...,1 291.3555 2 291.4188 3 286.312...,1 429.5002 2 430.3064 3 421.782...,1 427.5186 2 426.3908 3 425.627...,1 526.2692 2 525.7910 3 524.571...,1 533.3441 2 531.4626 3 528.867...,1 621.8139 2 615.0942 3 615.218...,1 585.8804 2 589.3182 3 583.567...,1 2416.0989 2 2423.9819 3 2407....,1 3474.6177 2 3474.9001 3 3436....,1 2587.5281 2 2577.5154 3 2550....,1 13703.8613 2 13614.5264 3 135...,1 13243.0762 2 13063.5244 3 129...,1 6386.0854 2 6258.2856 3 6188....,1 7381.0903 2 7129.9019 3 7085....
1,1 16602.2031 2 16672.1426 3 167...,1 230.1286 2 229.4772 3 230.655...,1 279.5540 2 279.9405 3 282.070...,1 410.3104 2 415.6089 3 415.309...,1 409.8393 2 410.8012 3 408.711...,1 502.5957 2 500.9936 3 501.950...,1 505.6751 2 507.1726 3 502.595...,1 586.7225 2 587.5106 3 583.694...,1 557.3173 2 557.8635 3 564.514...,1 2286.0024 2 2290.4126 3 2304....,1 3252.8457 2 3298.3301 3 3299....,1 2406.4312 2 2416.8577 3 2425....,1 13084.2695 2 13233.7998 3 131...,1 12568.4863 2 12666.0215 3 125...,1 6030.2422 2 6092.2979 3 5997....,1 6794.9834 2 6917.2446 3 6715....
2,1 15789.3135 2 15728.6113 3 157...,1 217.1239 2 216.0460 3 215.557...,1 261.0363 2 258.9311 3 259.482...,1 382.3666 2 379.2797 3 379.095...,1 392.4255 2 393.5864 3 392.160...,1 478.6353 2 477.8461 3 477.128...,1 478.4745 2 479.8108 3 477.422...,1 549.8475 2 550.5942 3 548.561...,1 539.4212 2 544.0800 3 547.582...,1 2199.6758 2 2205.4641 3 2201....,1 3166.9619 2 3165.5493 3 3177....,1 2304.0291 2 2307.2976 3 2294....,1 12448.5752 2 12394.1309 3 124...,1 11798.6348 2 11778.1641 3 117...,1 5632.9561 2 5617.1167 3 5639....,1 6285.1348 2 6252.3169 3 6282....
3,1 12001.3301 2 12008.3242 3 120...,1 206.9653 2 206.0580 3 206.724...,1 288.3049 2 287.4088 3 288.905...,1 552.1487 2 552.4020 3 552.955...,1 326.6077 2 327.0256 3 326.100...,1 508.5500 2 507.5217 3 508.430...,1 647.5449 2 646.4698 3 645.663...,1 1002.3436 2 1004.1272 3 1004....,1 562.3938 2 567.0204 3 564.514...,1 3285.7600 2 3279.3655 3 3289....,1 5991.2363 2 5985.3037 3 5996....,1 5030.7412 2 5035.7065 3 5038....,1 10560.2783 2 10581.7490 3 106...,1 12305.8477 2 12313.6084 3 123...,1 7172.6294 2 7181.9595 3 7196....,1 9031.5068 2 9046.1572 3 9063....
4,1 11545.3994 2 11615.8682 3 117...,1 200.5599 2 205.7866 3 208.213...,1 280.1374 2 284.8924 3 288.533...,1 528.9505 2 537.3589 3 543.118...,1 325.2444 2 331.4969 3 333.782...,1 504.2935 2 514.7911 3 517.110...,1 647.9980 2 659.2714 3 664.385...,1 1000.1037 2 1016.5294 3 1026....,1 571.5828 2 569.1409 3 571.165...,1 3330.5220 2 3337.9639 3 3347....,1 6091.8110 2 6068.6450 3 6148....,1 5144.1079 2 5130.4541 3 5209....,1 10242.4307 2 10276.5537 3 102...,1 11965.7432 2 12006.0156 3 120...,1 6974.7461 2 7011.4150 3 7093....,1 8817.6045 2 8863.7549 3 8989....

In [32]:
y

array(['100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '100 0-Back', '100 0-Back',
       '100 0-Back', '100 0-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back',
       '102 2-Back', '102 2-Back', '102 2-Back', '102 2-Back'],
      dtype='<U10')

In [41]:
msk = np.random.rand(len(X)) < 0.8
ytest=y[msk]