In [1]:
# step 1: look for necessary uploads 
from sktime.utils.load_data import from_long_to_nested
import pandas as pd 
import numpy as np

In [2]:
# step 2: upload current csv from data folder 
# if you forget what your directory is you can type pwd

In [3]:
pwd

'/home/fareyaikram/sktime-notebooks'

In [4]:
raw_df= pd.read_csv("../sktime-notebooks/data/labdata/2013e.csv")

In [5]:
# step3: Get an idea of how the data looks 
raw_df.describe()

,start time,end time,1,2,3,4,5,6,7,8,...,345,346,347,348,349,350,351,352,353,354
count,2.048000e+03,2.048000e+03,2048.000000,2048.000000,2048.000000,2048.000000,2048.000000,2048.000000,2048.000000,2048.000000,...,2048.000000,2048.000000,2048.000000,2048.000000,2048.000000,2048.000000,2048.000000,2048.000000,2048.000000,2048.000000
mean,3.750645e+08,3.750945e+08,4112.989845,4115.535471,4116.923722,4118.776463,4122.853753,4124.146424,4125.150561,4125.769171,...,4137.404058,4139.642014,4139.931069,4137.134729,4136.420729,4133.530249,4132.226265,4133.000682,4097.928560,2463.757128
std,1.174997e+08,1.174997e+08,4861.573558,4864.254188,4864.832479,4866.207418,4871.116064,4872.287500,4873.497089,4874.792609,...,4873.709441,4876.547926,4876.724266,4874.046068,4872.999430,4869.564012,4868.064262,4869.514502,4863.202182,4293.345237
min,2.314261e+08,2.314561e+08,107.556400,107.574000,106.287700,106.959000,106.955500,107.282300,106.698900,107.296400,...,102.565900,102.843500,102.355000,103.079000,103.321500,103.616700,104.340700,104.411000,0.000000,0.000000
25%,2.551483e+08,2.551783e+08,405.169400,406.042225,406.017200,405.147475,405.578350,406.301150,405.943800,405.797075,...,409.504450,409.161975,409.383075,407.782875,408.331025,408.531250,408.089125,407.955675,404.295800,0.000000
50%,3.465890e+08,3.466190e+08,1066.133050,1067.347600,1072.025250,1072.906800,1068.954000,1066.967500,1076.317800,1097.659650,...,1066.615450,1065.684600,1065.806700,1059.158750,1059.792100,1058.467150,1059.385300,1060.093600,1017.885250,314.439000
75%,4.973153e+08,4.973453e+08,6694.411650,6707.698950,6696.876625,6705.975000,6678.271000,6692.414550,6706.432500,6720.236225,...,6812.021850,6843.884025,6802.091325,6801.862450,6770.169950,6782.065650,6800.288075,6782.621925,6761.318275,3050.900175
max,5.956930e+08,5.957230e+08,19152.732400,19039.283200,18813.576200,18732.371100,18761.031300,18798.052700,18847.013700,18941.357400,...,18454.957000,18485.308600,18534.134800,18609.353500,18611.992200,18576.361300,18546.009800,18458.916000,18435.162100,18474.750000

In [6]:
raw_df.head()

,name,event,channel,start time,end time,1,2,3,4,5,...,345,346,347,348,349,350,351,352,353,354
0,2013e_001,100 0-Back,A-DC1,232665953.1,232695953.1,17061.4316,17151.1680,16959.8223,16950.5840,16998.0898,...,16628.5957,16435.9297,16364.6709,16388.4238,16402.9395,16453.0859,16512.4688,16463.6426,16401.6191,0.0000
1,2013e_001,100 0-Back,A-DC1,233251953.1,233281953.1,16602.2031,16672.1426,16736.8047,16581.0898,16521.7051,...,16483.4375,16410.8574,16404.2598,16417.4551,16449.1270,16545.4590,16640.4727,16636.5137,16517.7461,0.0000
2,2013e_001,100 0-Back,A-DC1,234048359.4,234078359.4,15789.3135,15728.6113,15714.0957,15725.9717,15752.3643,...,15947.6689,15962.1846,15943.7100,15955.5869,16033.4443,16069.0742,16098.1064,15917.3174,15881.6885,15871.1309
3,2013e_001,102 2-Back,A-DC1,232876359.4,232906359.4,17371.5449,17454.6816,17400.5762,17273.8926,17302.9238,...,14894.6084,14914.4023,14961.9092,15054.2832,15161.1729,15062.2002,14881.4121,14844.4619,14866.8965,14890.6494
4,2013e_001,102 2-Back,A-DC1,233357156.3,233387156.3,16228.7490,16249.8633,16261.7393,16315.8447,16387.1035,...,15380.2305,15268.0615,15198.1221,15179.6475,15212.6377,15287.8564,15376.2715,15464.6865,15442.2529,15308.9707

In [7]:
#step 5: Convert the data into a long table 
long_table_df= raw_df.melt(id_vars=["event", "name","start time", "end time","channel"], 
        var_name="anindex", 
        value_name="value")

In [8]:
long_table_df.head()

        event       name   start time     end time channel anindex       value
0  100 0-Back  2013e_001  232665953.1  232695953.1   A-DC1       1  17061.4316
1  100 0-Back  2013e_001  233251953.1  233281953.1   A-DC1       1  16602.2031
2  100 0-Back  2013e_001  234048359.4  234078359.4   A-DC1       1  15789.3135
3  102 2-Back  2013e_001  232876359.4  232906359.4   A-DC1       1  17371.5449
4  102 2-Back  2013e_001  233357156.3  233387156.3   A-DC1       1  16228.7490

In [9]:
#sort to see if all the values you need are there
long_table_df.sort_values(by=['event','name','start time','channel'], axis=0)

,event,name,start time,end time,channel,anindex,value
0,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,1,17061.4316
2048,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,2,17151.1680
4096,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,3,16959.8223
6144,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,4,16950.5840
8192,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,5,16998.0898
10240,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,6,17038.9980
12288,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,7,17104.9805
14336,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,8,17218.4688
16384,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,9,17140.6094
18432,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,10,17024.4824
20480,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,11,17075.9492
22528,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,12,17130.0527
24576,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,13,17165.6836
26624,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,14,17291.0469
28672,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,15,17370.2246
30720,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,16,17156.4453
32768,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,17,17164.3633
34816,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,18,17232.9844
36864,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,19,17267.2949
38912,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,20,17359.6680
40960,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,21,17459.9590
43008,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,22,17310.8418
45056,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,23,17254.0977
47104,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,24,17342.5117
49152,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,25,17375.5039
51200,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,26,17437.5254
53248,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,27,17547.0547
55296,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,28,17528.5801
57344,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,29,17359.6680
59392,100 0-Back,2013e_001,232665953.1,232695953.1,A-DC1,30,17407.1738
...,...,...,...,...,...,...,...
665599,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,325,996.4323
667647,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,326,996.9348
669695,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,327,1002.7972
671743,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,328,1008.3245
673791,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,329,1008.1570
675839,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,330,1017.2018
677887,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,331,1023.6504
679935,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,332,1015.0244
681983,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,333,1015.6106
684031,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,334,1018.1230
686079,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,335,1025.7441
688127,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,336,1022.6454
690175,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,337,1027.6703
692223,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,338,1030.8527
694271,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,339,1032.9464
696319,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,340,1030.9365
698367,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,341,1034.4539
700415,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,342,1040.7350
702463,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,343,1033.1139
704511,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,344,1027.1678
706559,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,345,1024.8229
708607,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,346,1027.9215
710655,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,347,1020.5518
712703,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,348,1023.1479
714751,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,349,1026.6653
716799,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,350,1028.7590
718847,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,351,1030.3502
720895,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,352,1033.0302
722943,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,353,1037.8876
724991,102 2-Back,2013e_028,232913671.9,232943671.9,B-DC8,354,0.0000

In [10]:
sorted_long_table_df=long_table_df.sort_values(by=['event','name','start time','channel'], axis=0)

In [11]:
#use the sktime nested function
df_nested = from_long_to_nested(sorted_long_table_df)
df_nested.head()

ValueError: invalid literal for int() with base 10: '100 0-Back'

In [12]:
from sktime.utils.load_data import generate_example_long_table
X=generate_example_long_table(num_cases=50, series_len=20, num_dims=4)
X.head()

   case_id  dim_id  reading_id     value
0        0       0           0  0.552619
1        0       0           1  0.884083
2        0       0           2  0.568213
3        0       0           3  0.665589
4        0       0           4  0.083723

In [13]:
unique_dim_ids = sorted_long_table_df.iloc[:, 4].unique()

In [14]:
sorted_long_table_df_copy=sorted_long_table_df

In [15]:
for i in range(len(unique_dim_ids)):
    my_channel=unique_dim_ids[i]
    sorted_long_table_df_copy['channel']=sorted_long_table_df_copy['channel'].replace({my_channel:i})

In [16]:
sorted_long_table_df_copy.head()

,event,name,start time,end time,channel,anindex,value
0,100 0-Back,2013e_001,232665953.1,232695953.1,0,1,17061.4316
2048,100 0-Back,2013e_001,232665953.1,232695953.1,0,2,17151.1680
4096,100 0-Back,2013e_001,232665953.1,232695953.1,0,3,16959.8223
6144,100 0-Back,2013e_001,232665953.1,232695953.1,0,4,16950.5840
8192,100 0-Back,2013e_001,232665953.1,232695953.1,0,5,16998.0898

In [17]:
sorted_long_table_df_copy.iloc[:, 4].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [18]:
unique_start_time = sorted_long_table_df.iloc[:, 2].unique()

In [19]:
len(unique_start_time)

128

In [20]:
len(sorted_long_table_df)

724992

In [21]:
for i in range(len(unique_start_time)):
    my_time=unique_start_time[i]
    sorted_long_table_df_copy['start time']=sorted_long_table_df_copy['start time'].replace({my_time:i})

In [22]:
len(sorted_long_table_df_copy)

724992

In [47]:
724992/128

5664.0

In [48]:
5664.0/354

16.0

In [23]:
sorted_long_table_df_copy_stripped=sorted_long_table_df_copy.drop(columns=['event','name','end time'])

In [24]:
df_nested = from_long_to_nested(sorted_long_table_df_copy_stripped)

In [25]:
df_nested.head()

,dim_0,dim_1,dim_2,dim_3,dim_4,dim_5,dim_6,dim_7,dim_8,dim_9,dim_10,dim_11,dim_12,dim_13,dim_14,dim_15
0,1 17061.4316 2 17151.1680 3 169...,1 237.3560 2 239.0465 3 235.960...,1 291.3555 2 291.4188 3 286.312...,1 429.5002 2 430.3064 3 421.782...,1 427.5186 2 426.3908 3 425.627...,1 526.2692 2 525.7910 3 524.571...,1 533.3441 2 531.4626 3 528.867...,1 621.8139 2 615.0942 3 615.218...,1 585.8804 2 589.3182 3 583.567...,1 2416.0989 2 2423.9819 3 2407....,1 3474.6177 2 3474.9001 3 3436....,1 2587.5281 2 2577.5154 3 2550....,1 13703.8613 2 13614.5264 3 135...,1 13243.0762 2 13063.5244 3 129...,1 6386.0854 2 6258.2856 3 6188....,1 7381.0903 2 7129.9019 3 7085....
1,1 16602.2031 2 16672.1426 3 167...,1 230.1286 2 229.4772 3 230.655...,1 279.5540 2 279.9405 3 282.070...,1 410.3104 2 415.6089 3 415.309...,1 409.8393 2 410.8012 3 408.711...,1 502.5957 2 500.9936 3 501.950...,1 505.6751 2 507.1726 3 502.595...,1 586.7225 2 587.5106 3 583.694...,1 557.3173 2 557.8635 3 564.514...,1 2286.0024 2 2290.4126 3 2304....,1 3252.8457 2 3298.3301 3 3299....,1 2406.4312 2 2416.8577 3 2425....,1 13084.2695 2 13233.7998 3 131...,1 12568.4863 2 12666.0215 3 125...,1 6030.2422 2 6092.2979 3 5997....,1 6794.9834 2 6917.2446 3 6715....
2,1 15789.3135 2 15728.6113 3 157...,1 217.1239 2 216.0460 3 215.557...,1 261.0363 2 258.9311 3 259.482...,1 382.3666 2 379.2797 3 379.095...,1 392.4255 2 393.5864 3 392.160...,1 478.6353 2 477.8461 3 477.128...,1 478.4745 2 479.8108 3 477.422...,1 549.8475 2 550.5942 3 548.561...,1 539.4212 2 544.0800 3 547.582...,1 2199.6758 2 2205.4641 3 2201....,1 3166.9619 2 3165.5493 3 3177....,1 2304.0291 2 2307.2976 3 2294....,1 12448.5752 2 12394.1309 3 124...,1 11798.6348 2 11778.1641 3 117...,1 5632.9561 2 5617.1167 3 5639....,1 6285.1348 2 6252.3169 3 6282....
3,1 12001.3301 2 12008.3242 3 120...,1 206.9653 2 206.0580 3 206.724...,1 288.3049 2 287.4088 3 288.905...,1 552.1487 2 552.4020 3 552.955...,1 326.6077 2 327.0256 3 326.100...,1 508.5500 2 507.5217 3 508.430...,1 647.5449 2 646.4698 3 645.663...,1 1002.3436 2 1004.1272 3 1004....,1 562.3938 2 567.0204 3 564.514...,1 3285.7600 2 3279.3655 3 3289....,1 5991.2363 2 5985.3037 3 5996....,1 5030.7412 2 5035.7065 3 5038....,1 10560.2783 2 10581.7490 3 106...,1 12305.8477 2 12313.6084 3 123...,1 7172.6294 2 7181.9595 3 7196....,1 9031.5068 2 9046.1572 3 9063....
4,1 11545.3994 2 11615.8682 3 117...,1 200.5599 2 205.7866 3 208.213...,1 280.1374 2 284.8924 3 288.533...,1 528.9505 2 537.3589 3 543.118...,1 325.2444 2 331.4969 3 333.782...,1 504.2935 2 514.7911 3 517.110...,1 647.9980 2 659.2714 3 664.385...,1 1000.1037 2 1016.5294 3 1026....,1 571.5828 2 569.1409 3 571.165...,1 3330.5220 2 3337.9639 3 3347....,1 6091.8110 2 6068.6450 3 6148....,1 5144.1079 2 5130.4541 3 5209....,1 10242.4307 2 10276.5537 3 102...,1 11965.7432 2 12006.0156 3 120...,1 6974.7461 2 7011.4150 3 7093....,1 8817.6045 2 8863.7549 3 8989....

In [26]:
len(df_nested)

128

In [55]:
# the numpy array filled with labels
sorted_long_table_df_copy

,event,name,start time,end time,channel,anindex,value
0,100 0-Back,2013e_001,0.0,232695953.1,0,1,17061.4316
2048,100 0-Back,2013e_001,0.0,232695953.1,0,2,17151.1680
4096,100 0-Back,2013e_001,0.0,232695953.1,0,3,16959.8223
6144,100 0-Back,2013e_001,0.0,232695953.1,0,4,16950.5840
8192,100 0-Back,2013e_001,0.0,232695953.1,0,5,16998.0898
10240,100 0-Back,2013e_001,0.0,232695953.1,0,6,17038.9980
12288,100 0-Back,2013e_001,0.0,232695953.1,0,7,17104.9805
14336,100 0-Back,2013e_001,0.0,232695953.1,0,8,17218.4688
16384,100 0-Back,2013e_001,0.0,232695953.1,0,9,17140.6094
18432,100 0-Back,2013e_001,0.0,232695953.1,0,10,17024.4824
20480,100 0-Back,2013e_001,0.0,232695953.1,0,11,17075.9492
22528,100 0-Back,2013e_001,0.0,232695953.1,0,12,17130.0527
24576,100 0-Back,2013e_001,0.0,232695953.1,0,13,17165.6836
26624,100 0-Back,2013e_001,0.0,232695953.1,0,14,17291.0469
28672,100 0-Back,2013e_001,0.0,232695953.1,0,15,17370.2246
30720,100 0-Back,2013e_001,0.0,232695953.1,0,16,17156.4453
32768,100 0-Back,2013e_001,0.0,232695953.1,0,17,17164.3633
34816,100 0-Back,2013e_001,0.0,232695953.1,0,18,17232.9844
36864,100 0-Back,2013e_001,0.0,232695953.1,0,19,17267.2949
38912,100 0-Back,2013e_001,0.0,232695953.1,0,20,17359.6680
40960,100 0-Back,2013e_001,0.0,232695953.1,0,21,17459.9590
43008,100 0-Back,2013e_001,0.0,232695953.1,0,22,17310.8418
45056,100 0-Back,2013e_001,0.0,232695953.1,0,23,17254.0977
47104,100 0-Back,2013e_001,0.0,232695953.1,0,24,17342.5117
49152,100 0-Back,2013e_001,0.0,232695953.1,0,25,17375.5039
51200,100 0-Back,2013e_001,0.0,232695953.1,0,26,17437.5254
53248,100 0-Back,2013e_001,0.0,232695953.1,0,27,17547.0547
55296,100 0-Back,2013e_001,0.0,232695953.1,0,28,17528.5801
57344,100 0-Back,2013e_001,0.0,232695953.1,0,29,17359.6680
59392,100 0-Back,2013e_001,0.0,232695953.1,0,30,17407.1738
...,...,...,...,...,...,...,...
665599,102 2-Back,2013e_028,127.0,232943671.9,15,325,996.4323
667647,102 2-Back,2013e_028,127.0,232943671.9,15,326,996.9348
669695,102 2-Back,2013e_028,127.0,232943671.9,15,327,1002.7972
671743,102 2-Back,2013e_028,127.0,232943671.9,15,328,1008.3245
673791,102 2-Back,2013e_028,127.0,232943671.9,15,329,1008.1570
675839,102 2-Back,2013e_028,127.0,232943671.9,15,330,1017.2018
677887,102 2-Back,2013e_028,127.0,232943671.9,15,331,1023.6504
679935,102 2-Back,2013e_028,127.0,232943671.9,15,332,1015.0244
681983,102 2-Back,2013e_028,127.0,232943671.9,15,333,1015.6106
684031,102 2-Back,2013e_028,127.0,232943671.9,15,334,1018.1230
686079,102 2-Back,2013e_028,127.0,232943671.9,15,335,1025.7441
688127,102 2-Back,2013e_028,127.0,232943671.9,15,336,1022.6454
690175,102 2-Back,2013e_028,127.0,232943671.9,15,337,1027.6703
692223,102 2-Back,2013e_028,127.0,232943671.9,15,338,1030.8527
694271,102 2-Back,2013e_028,127.0,232943671.9,15,339,1032.9464
696319,102 2-Back,2013e_028,127.0,232943671.9,15,340,1030.9365
698367,102 2-Back,2013e_028,127.0,232943671.9,15,341,1034.4539
700415,102 2-Back,2013e_028,127.0,232943671.9,15,342,1040.7350
702463,102 2-Back,2013e_028,127.0,232943671.9,15,343,1033.1139
704511,102 2-Back,2013e_028,127.0,232943671.9,15,344,1027.1678
706559,102 2-Back,2013e_028,127.0,232943671.9,15,345,1024.8229
708607,102 2-Back,2013e_028,127.0,232943671.9,15,346,1027.9215
710655,102 2-Back,2013e_028,127.0,232943671.9,15,347,1020.5518
712703,102 2-Back,2013e_028,127.0,232943671.9,15,348,1023.1479
714751,102 2-Back,2013e_028,127.0,232943671.9,15,349,1026.6653
716799,102 2-Back,2013e_028,127.0,232943671.9,15,350,1028.7590
718847,102 2-Back,2013e_028,127.0,232943671.9,15,351,1030.3502
720895,102 2-Back,2013e_028,127.0,232943671.9,15,352,1033.0302
722943,102 2-Back,2013e_028,127.0,232943671.9,15,353,1037.8876
724991,102 2-Back,2013e_028,127.0,232943671.9,15,354,0.0000

In [34]:
724992/128
sorted_long_table_df_copy.iloc[0,:]

event          100 0-Back
name            2013e_001
start time              0
end time      2.32696e+08
channel                 0
anindex                 1
value             17061.4
Name: 0, dtype: object

In [35]:
sorted_long_table_df_copy.iloc[5664,:]
sorted_long_table_df_copy.iloc[11329,:]

event          100 0-Back
name            2013e_001
start time              2
end time      2.34078e+08
channel                 0
anindex                 2
value             15728.6
Name: 2050, dtype: object

In [37]:
sorted_long_table_df_copy.iloc[16991,:]

event          100 0-Back
name            2013e_001
start time              2
end time      2.34078e+08
channel                15
anindex               354
value             6412.08
Name: 723021, dtype: object

In [38]:
labels=np.zeros(128)
print(len(labels))

128

In [ ]:
some_const=

In [39]:
from sktime.transformers.compose import ColumnConcatenator
from sktime.classifiers.compose import TimeSeriesForestClassifier
from sktime.classifiers.dictionary_based.boss import BOSSEnsemble
from sktime.classifiers.compose import ColumnEnsembleClassifier
from sktime.classifiers.shapelet_based import ShapeletTransformClassifier
from sktime.datasets import load_basic_motions
from sktime.pipeline import Pipeline

import numpy as np
import pandas as pd

In [40]:
from sktime.highlevel.tasks import TSCTask
from sktime.highlevel.strategies import TSCStrategy

from sktime.transformers.compose import RowwiseTransformer
from sktime.transformers.compose import ColumnTransformer
from sktime.transformers.compose import Tabulariser
from sktime.transformers.segment import RandomIntervalSegmenter

from sktime.pipeline import Pipeline
from sktime.pipeline import FeatureUnion
from sktime.classifiers.distance_based import ProximityForest

from sktime.classifiers.compose import TimeSeriesForestClassifier
from sktime.classifiers.distance_based import KNeighborsTimeSeriesClassifier

from sktime.datasets import load_gunpoint
from sktime.utils.time_series import time_series_slope

from statsmodels.tsa.stattools import acf
from statsmodels.tsa.ar_model import AR

from sklearn.preprocessing import FunctionTransformer
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [41]:
steps_base = [
    ('segment', RandomIntervalSegmenter(n_intervals=1, min_length=5)),
    ('transform', FeatureUnion([
        ('mean', RowwiseTransformer(FunctionTransformer(func=np.mean, validate=False))),
        ('std', RowwiseTransformer(FunctionTransformer(func=np.std, validate=False))),
        ('slope', RowwiseTransformer(FunctionTransformer(func=time_series_slope, validate=False)))
    ])),
    ('clf', DecisionTreeClassifier())
]
base_estimator = Pipeline(steps_base, random_state=1)
tsf = TimeSeriesForestClassifier(base_estimator=base_estimator,
                                 n_estimators=100,
                                 criterion='entropy',
                                 bootstrap=True,
                                 oob_score=True,
                                 random_state=1)

In [42]:
steps_final = [
    ('concatenate', ColumnConcatenator()),
    ('classify', tsf)]
clf = Pipeline(steps_final)
clf.fit(df_nested, labels)
clf.score(df_nested, labels)

1.0

In [1]:
for i in range(len(sorted_long_table_df_copy)):
    labels[1,i/128]=sorted_long_table_df_copy.iloc[i,'event']
    sorted_long_table_df_copy[]
    i=i+128

SyntaxError: invalid syntax (<ipython-input-1-939d3cb43362>, line 3)